$font-family-sans-serif: 'Roobert', Verdana, sans-serif;
$body-color: #fff;
$body-bg: #000;

$primary: #23f7dd;
$secondary: #162827;

$border-radius: 0.75rem;
$border-radius-sm: 0.75rem;
$btn-font-weight: 700;

$headings-color: $primary;
$headings-font-weight: 500;

$card-bg: #1e1e1e;
$card-cap-color: $primary;
$card-cap-bg: $card-bg;

$tooltip-bg: #000;
$tooltip-color: #fff;
$tooltip-font-size: 1em;
