$primary: #c6fd7c;
$secondary: #0d2818;

$font-family-sans-serif: 'Roobert', verdana, sans-serif;
$body-color: #fff;
$body-bg: #000;

$border-radius: 0.75rem;
$border-radius-sm: 0.75rem;
$btn-font-weight: 700;

$headings-color: $primary;
$headings-font-weight: 500;

$card-bg: rgb(13 40 24 / 50%);
$card-cap-color: $primary;
$card-cap-bg: 'transparent';

$tooltip-bg: #0d2818;
$tooltip-color: #fff;
$tooltip-font-size: 1em;
