@import 'fonts';
@import 'variables';
@import 'bootstrap/scss/bootstrap';

$background-blur: 8px;

.card {
    backdrop-filter: blur($background-blur);

    .card-header {
        @extend .mb-0;
    }
}

.tooltip {
    .tooltip-arrow::before {
        border-bottom-color: #fff;
    }

    .tooltip-inner {
        border: 1px solid #fff;
    }
}

.pointer-cursor {
    cursor: pointer;
}

.official-projects,
.projects {
    $icon-size: 3em;

    a {
        @extend .d-inline-block;
        @extend .text-decoration-none;

        transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover {
            transform: scale(1.2);
            transform-origin: center;
        }
    }

    img {
        @extend .rounded-circle;

        height: $icon-size;
    }

    .initials {
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .border;
        @extend .rounded-circle;
        @extend .fw-bold;

        width: $icon-size;
        height: $icon-size;
    }
}

footer {
    @extend .position-relative;
    @extend .z-1;
    @extend .p-4;

    background-color: $card-bg;
    backdrop-filter: blur($background-blur);
}

#form-cta {
    $offset-x: -11.1em;
    $animation-margin: 20px;

    padding-right: $animation-margin;
    bottom: 50px;
    right: calc(#{$offset-x} - #{$animation-margin});
    transition: right 150ms cubic-bezier(0.68, 0, 0.265, 1.55);

    &:hover {
        right: calc(#{$offset-x} - #{$animation-margin} + 5px);
    }

    &.active {
        right: -$animation-margin;
    }
}

@include media-breakpoint-up(md) {
    .w-md-50 {
        width: 50% !important;
    }
}

@include media-breakpoint-up(lg) {
    .w-lg-33 {
        width: 33.333% !important;
    }
}

@include media-breakpoint-up(xxl) {
    .w-xxl-20 {
        width: 20% !important;
    }

    .w-xxl-25 {
        width: 25% !important;
    }
}
